#comment {
  resize: none;
  height: 100px;
  width: 500px;
}
#commentform p {
margin: 0 0 0px 0;
}
#commentform {

}
#submit {
	outline: none;
	background-color: #3ba8c0;
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px 5px 0px #000;
  	color: #fff;
  	font-size: 18px;
  	line-height: 1.5;
  	padding: 0px 10px;
}
#submit:hover {
	box-shadow: 2px 2px 6px 0px #000;
}
#submit:active {
	box-shadow: 1px 1px 1px 0px #000;
}
#cancel-comment-reply {
	margin: 10px;
}
input {
	border: 1px solid #3ba8c0;
	border-radius: 5px;
	padding: 2px 5px;
    height: 25px;
}
input:focus {
	outline: 1px solid #3ba8c0;
}
textarea {
	border: 1px solid #3ba8c0;
	border-radius: 5px;
	padding: 2px 5px;
}
textarea:focus {
	outline: 1px solid #3ba8c0;
}












/* Комментарии + форма */

	/* Контейнер комментария */
.commentlist {
	padding: 0;
	text-align: justify;
	width: 650px;
	margin: 10px auto;
	display: table;
}

.commentlist .comment {
	padding: 5px;
	list-style: none;
	display: block;
}

.commentlist .comment .comment {
	margin: 10px 10px 10px 10px;
	padding: 5px;
	width: auto;
}

	/* Аватарка, имя */
.comment-author {
	width: 80px;
	float: left;
	text-align: center;
}

	/* Имя автора */
.comment-author .fn {
	font-weight: bold;
}

	/* двоеточие */
.comment-author .says {
	display: none;
}

	/* Сама аватарка тег img */
.avatar {
	width: 60px;
  height: 60px;
  border: 2px solid #3ba8c0;
  border-radius: 5px;
}

	/* Дата добавления */
.comment-meta {
	width: 83%;
	float: left;
	border-bottom: 2px solid #3ba8c0;
}

	/* Текст комментария */
.commentlist p {
	margin: 15px 0 0px 20px;
	padding-bottom: 10px;
	width: 80%;
	float: left;
	border-bottom: 2px solid #3ba8c0;
}

	/* Кнопка "Ответить" */
.commentlist .reply {
	width: 98%;
	float: left;
	text-align: right;
	padding: 0 0 5px 0;
}

	/* Форма отправки комментария */
.form textarea {
	resize: vertical;
	width: 500px;
	height: 150px;
}